<body class="getBody">
<div class="getform">
<div class="getBox">
    <table>
        <tr>
            <td>Mobile ID: </td>
            <td>{{this.data.id}}</td>
        </tr>
        <tr>
            <td>Mobile Name: </td>
            <td>{{this.data.name}}</td>
        </tr>
        <tr>
            <td>Capacity:</td>
            <td>{{this.data.capacity}}</td>
        </tr>
        <tr>
            <td>Color: </td>
            <td>{{this.data.color}}</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>{{this.data.Description}}</td>
        </tr>
        <tr>
            <td>Price: </td>
            <td>{{this.data.price}}</td>
        </tr>
        <tr>
            <td>Generation: </td>
            <td>{{this.data.generation}}</td>
        </tr>
        <tr>
            <td>Year: </td>
            <td>{{this.data.year}}</td>
        </tr>
</table>
</div>
</div>
</body>
