{{page-title "AllItems"}}
<h1 class="mobiles-heading">Mobiles</h1>
<table class="all-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {{#each this.model as |model|}}
    <tr>
        <td>{{model.id}}</td>
        <td><LinkTo @route="get-item" @model="{{model.id}}">{{model.name}}</LinkTo></td>
        <td><button type="button"><LinkTo @route="update-item" @model="{{model.id}}">Update Item</LinkTo></button></td>
        <td><button type="button"><LinkTo @route="delete-item" @model="{{model.id}}">Delete Item</LinkTo></button></td>
    </tr>
    {{/each}}
</table>

<button type="button"><LinkTo @route="add-item">Add Item</LinkTo></button>

{{outlet}}